/target
/Cargo.lock
*.pdb
/testing
main_rusts_temp.rs
main_1.rss
installer/windows/files/cargo-rustsp.exe
installer/windows/files/rustsp.exe
installer/windows/rustsp-setup.exe
rustsp_vscode/node_modules
rustsp_vscode/package-lock.json
rustsp_vscode/out